<div class="container-main">
  <div class="btn-back">
    <span class="material-symbols-outlined" (click)="back()"> cancel </span>
  </div>

  <div class="main-details" *ngFor="let item of dataReciber">
    <div class="container-title">
      <p>{{ item.name | uppercase }}</p>
    </div>
    <div class="card-container">
      <div class="container-img">
        <img [src]="item.img" alt class="img" />
      </div>
      <div class="card-description">
        <span class="text-description">{{ item.description }} </span>
        <div class="description-country">
          <strong><span>CIUDAD: </span></strong>
          <p>{{ item.city }}</p>
        </div>
      </div>
    </div>
  </div>


  <div class="container-comments main-details">
    <div class="card-comment">
      <form [formGroup]="formComments" (ngSubmit)="onSubmit()">
        <!-- Controles del formulario -->
        <label for="usuario">Comentario:</label>
        <input  matInput  type="text" id="usuario" formControlName="usuario">
        <div >
          El comentario es obligatorio.
        </div>
        <label for="comentario">Comentario:</label>
        <input  matInput  type="text" id="comentario" formControlName="comentario">
        <div *ngIf="formComments.get('comentario')?.hasError('required') && formComments.get('comentario')?.touched">
          El comentario es obligatorio.
        </div>
      
        <!-- ... otros controles -->
      
        <!-- Botón de envío -->
        <button type="submit">Enviar</button>
      </form>
    
      

      
    </div>
    <h1 class="title-comments">COMENTARIOS</h1>
    <section class="comments">
      <article class="comment">
        <div class="comment-body" *ngFor="let dataComments of dataComments">
          <div class="text">
            <p>{{ dataComments.comentario }}</p>
            <p class="attribution letra">{{ dataComments.fecha }}</p>
          </div>

          <button mat-icon-button (click)="cambiarEstadoLike()">
            <mat-icon *ngIf="like; else dislikeIcon">thumb_up</mat-icon>
            <ng-template #dislikeIcon
              ><mat-icon>thumb_down</mat-icon></ng-template
            >
          </button>
        </div>
      </article>
    </section>

    <!-- <div class="caja-comentarios" >
      <h1 class="title-comments">COMENTARIOS</h1>
      <div class="comments" *ngFor="let dataComments of dataComments">
        <mat-list class="list-comment">
          <mat-list-item>
            {{ dataComments.comentario }}
          </mat-list-item>
        </mat-list>
      </div>
    </div> -->
  </div>
</div>
