.btn-back {
  display: flex;
  display: flex;
  justify-content: flex-end;
  padding: 15px 15px 0 0;
}

.container-main{
  border-radius: 20px;
  background-color: #637381;
  height: max-content;
}

.container-main::-webkit-scrollbar {
  width: 9px;
  border-radius: 5px;
  background-color: rgb(210, 210, 210);
}

.container-main::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 10px;
  background-color: rgba(103, 103, 103, 0.686);
}

::ng-deep .custom-modalConsul .mat-mdc-dialog-container .mdc-dialog__surface::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 10px;
  background-color: rgba(103, 103, 103, 0.686);
}

::ng-deep .custom-modalConsul .mat-mdc-dialog-container .mdc-dialog__surface::-webkit-scrollbar {
  width: 9px;
  border-radius: 5px;
  background-color: rgb(210, 210, 210);
}

::ng-deep .custom-modalConsul .mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: unset;
  box-shadow: none;
  height: 800px;
  overflow-y: scroll;
}


.main-details {
  margin: 35px;
}

.card-container {
  display: flex;
  gap: 10px;
  padding: 30px;
}

.container-title {
  color: white;
  font-size: 34px;
  font-weight: 500;
  height: 45px;
}

.container-img {
  width: 850px;
}

.img {
  width: 100%;
}

.card-description {
  display: flex;
  color: white;
  font-size: 16px;
  font-weight: 300;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.text-description {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0.3px;
}

.container-comments {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid #5858587e;
  justify-content: space-between;
  padding: 30px;
}

.card-comment {
  display: flex;
  padding: 30px;
  flex-direction: column;
  width: 100%;
}
.fillInput{
  width: 100%;
}
.example-full-width {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-text-comment {
  font-size: 16px;
  border-radius: 10px;
  background-color: rgba(182, 182, 182, 0.07);
  margin-left: 8px;
}

.btn-comment {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.number-textarea {
  font-size: 14px;
  color: white;
}
.usuarioData{
  font-weight: bold;
  color: green;
}
.comments {
  width: 100%;
  display: flex;
  padding: 30px;
}

.material-symbols-outlined {
  color: white;
  font-size: 45px;
  cursor: pointer;
}

.material-symbols-outlined:hover {
  color: red;
  font-size: 45px;
  cursor: pointer;
}

.list-comment {
  display: flex;
  border-radius: 15px;
  border: 2px solid rgba(182, 182, 182, 0.07);
}

.description-country {
  display: flex;
  gap: 10px;
}

.caja-comentarios {
  font-size: 16px;
  margin-right: 100px;
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.title-comments {
  color: white;
  font-size: 25px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment {
  width: 100%;
  overflow: hidden;
  padding: 0 0 1em;
  border-bottom: 1px solid #ddd;
  margin: 0 0 1em;
  *zoom: 1;
}

.comment-img {
  float: left;
  margin-right: 33px;
  border-radius: 5px;
  overflow: hidden;
}

.comment-img img {
  display: block;
}

.comment-body {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  overflow: hidden;
}

.comment .text {
  width: 90%;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background: #fff;
}

.comment .text p:last-child {
  margin: 0;
}

.comment .attribution {
  margin: 0.5em 0 0;
  font-size: 14px;
  color: #666;
}

.letra {
  color: red;
}
/* Decoration */

.comments,
.comment {
  position: relative;
}
