<mat-toolbar class="color">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  ></button>
  <div class="logo">
    <span class="material-symbols-outlined icon-logo"> school </span>
    <span class="titulo">UniversityStars</span>
  </div>
  <span class="example-spacer">
    PROYECTO MONGODB
    <span class="material-symbols-outlined icon-db"> database </span>
  </span>
  <div class="container-user-name">
    <span class="material-symbols-outlined icon-group"> groups_2 </span>
    <div class="name">JDMK</div>
  </div>
</mat-toolbar>
